{% extends "base.html" %}

{% block title %}Workflows{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block content %}  

  <div class="container">
    <header>
        <h1>Workflows</h1>
    </header> 
    
    <main>
        
        <div class="form-row">
            <textarea id="textareaTest" rows="4" cols="50"></textarea>
        </div>

        <div class="form-row">
            <select id="workflowSelect">
                <option value="" disabled selected>Select workflow ...</option>
                {% for id, workflow in workflows.items() %}
                <option value="{{ id }}">{{ workflow.name }}</option>
                {% endfor %}
            </select>

            <button id="startBtn">Start Workflow</button>
        </div>

        <div id="responseBox"></div>  

        <div id="userInteractions"></div>    
        
    </main>

    <footer></footer>

  </div>     

  <script src="{{ url_for('static', filename='js/workflows.js') }}"></script>

{% endblock %}