<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - RX1</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ui_components/sidebar.css') }}">
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>

  {% block head %}{% endblock %}
</head>
<body>
    <div class="mobile-nav-overlay" id="mobile-nav-overlay"></div>
  {% include 'partials/sidebar.html' %}

  <div class="main_container">
    

    <div class="top_bar" id="header">
      <div class="container header-content">
          <div class="logo"><a href="/">RX1</a></div>
          <nav class="nav-main">
            <a href="/">Home</a>
            <a href="{{ url_for('page_workflows') }}">Workflows</a>
            <a href="{{ url_for('page_test') }}">Test</a>
          </nav>
          <div class="hamburger" id="hamburger">
              <span></span><span></span><span></span>
          </div>
      </div>
    </div>

    {% block content %}{% endblock %} 
  </div>  
    
</body>
</html>

