{% extends "base.html" %}

{% block title %}{{ item.title }}{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/files.css') }}">
{% endblock %}

{% block content %}

  {% include 'partials/files_breadcrumbs.html' %}

  <h1>{{ item.title }}</h1>

  <div class="file-controls" style="margin-bottom: 20px; margin-top: 10px;">
    <button href="#" class="btn btn-secondary">View</button>   
    <button href="#" class="btn btn-secondary">Edit</button>    
    <button href="#" class="btn btn-primary">Use as input</button>
    <button href="#" class="btn btn-danger">Delete</button>
  </div>
  
  <div class="file-detail">
    <pre>{{ content }}</pre>
  </div>
  
  <p><a href="{{ url_for('files') }}">Back to Files</a></p>

{% endblock %}
