{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}  

  <header>
    <h1>Automate simply</h1>
    <p>Build and run simple, linear workflows using a mix of tools, AI assistants, and persistent memory</p>
    <a class="cta-button" href="/workflows">🚀 Start Using Workflows</a>
  </header>

  <section class="features">

    <div class="card">
      <h3>🧠 Workflows</h3>
      <p>Define step-by-step sequences to automate tasks. Each step can use built-in tools, call AI models, call APIs or interact with files.</p>
    </div>

    <div class="card">
      <h3>🛠 Tools</h3>
      <p>Extensible Python functions for file operations, text processing, API calls, and more.</p>
    </div>
    
    <div class="card">
      <h3>🛠 AI Assistants</h3>
      <p> Specialized functions that use AI models (OpenAI, Google, Anthropic, localhost etc.) for text generation and automation. Simply add more models (just add endpoint, model name and secret to config file)</p>
    </div>

    <div class="card">
      <h3>💾 Memory</h3>
      <p>Store and retrieve data using local files. Database, GitHub and cloud support are planned.</p>
    </div>

  </section>


{% endblock %}
