{% extends "base.html" %}

{% block title %}Workflows{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/workflows.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/ui_components/forms.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/ui_components/expandable.css') }}">
{% endblock %}

{% block content %}  

  <div class="container">
    <header>
        <h1>Workflows</h1>

        <button id="reload-custom-workflows">Reload custom workflows</button>
        <script>
            document.getElementById('reload-custom-workflows').onclick = function() {
                fetch('/api/reload_custom_workflows', {method: 'POST'})
                    .then(response => response.json())
                    .then(data => alert(data.message || data.error));
            };
        </script>
    </header> 
    
    <main>
        
        <div class="form-row">            
            <textarea id="textareaInput" placeholder="Enter your text input here ..."></textarea>
        </div>

        <div class="form-row">
            <select id="workflowSelect">
                <option value="" disabled selected>Select workflow ...</option>
                {% for id, workflow in workflows.items() %}
                <option value="{{ id }}">{{ workflow.name }}</option>
                {% endfor %}
            </select>

            <button id="startBtn">Start Workflow</button>
        </div>

        <div id="result-box-logs">
            <div class="box-header">Workflow log:</div>
            <div id="logs"></div>
        </div>                
        
        <div id="result-box-interactions">
            <div class="box-header">Required user interactions:</div>
            <div id="interactions"></div>
        </div> 

        <div id="result-box-responses">
            <div class="box-header">Workflow response:</div>
            <div id="responses"></div>
        </div>
        
    </main>

    <footer></footer>

  </div>     

  <script src="{{ url_for('static', filename='js/workflows.js') }}"></script>

{% endblock %}