<!-- backend/templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RX1</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    
    <header>
        <h1>RX1</h1>
    </header> 
    
    <main>
        <h2>Test 1</h2>
        <button onclick="sendEcho()">Send Echo</button>

        <h2>Test 2</h2>
        <div class="form-row">
            <textarea id="textareaTest" rows="4" cols="50"></textarea>
        </div>
        <div class="form-row">
            <button id="buttonSendTest">Send test</button>
        </div>
        <div class="form-row">
            <div id="responseTest"></div>
        </div>    
    </main>
    
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tools.js') }}"></script>
</body>
</html>
