<!-- backend/templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RX1</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
  <div class="container">
    <header>
        <h1>RX1</h1>
    </header> 
    
    <main>        

        <h2>Test 1</h2>
        <div class="form-row">
            <textarea id="textareaTest" rows="4" cols="50"></textarea>
        </div>
        <div class="form-row">
            <button id="buttonSendTest">Send test</button>
        </div>
        <div class="form-row">
            <div id="responseTest"></div>
        </div>   
        
        <hr>
        
        <h2>Status msg & interactions</h2>
        <div class="form-row">
            <button id="startBtn">Start Workflow</button>
        </div>
        <div id="responseBox"></div>
        
        <p id="prompt"></p>
        <button id="confirmBtn" style="display:none;">Continue</button>       
        
    </main>

    <footer>
        <hr>
        <p>RX1</p>
    </footer>

  </div>
     

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    
</body>
</html>
